/* ====== Events page =====*/
.heading {
  background: var(--branch-background);
  color: var(--text-orange);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 72pt;
  font-weight: 900;
  line-height: 1em;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}
.events-listing {
  background-color: var(--card-background);
  border-width: 10px;
  border-style: solid;
  border-color: var(--home-main-border);
}
.events-listing .branch {
  border-color: var(--events-border);
}
.events-listing .branch h1 {
  font-size: 30pt;
}
.events-listing .branch h2 {
  font-size: 18pt;
}

.events-listing .branch p {
  font-size: 18pt;
  font-weight: normal;
}
.events-listing .branch p:last-of-type {
  font-weight: bold;
}