/* ====== Page footer ====== */
.page-footer {
  background-color: var(--footer-background);
  background-image: url(../img/translucent_waves.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: space-between;
  padding: 10px 20px;
}
.page-footer,
.page-footer a,
.page-footer a:hover,
.page-footer a:visited,
.page-footer a:active {
  color: var(--text-black);
}
.page-footer a:hover,
.page-footer a:active {
  text-decoration: underline;
}
.page-footer li {
  list-style: none;
}

.page-footer address {
  font-size: 14pt;
}

.page-footer .flex {
  display: flex;
  justify-content: flex-start;
}
.page-footer ul {
  padding: 0;
  margin: 5px 0;
}
.page-footer p {
  font-size: 11pt;
}
.page-footer li:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.site-nav a {
  border-right: 1px solid var(--text-black);
  font-size: 12pt;
  line-height: 1rem;
  padding: 0 10px;
}
.site-nav li:first-of-type a {
  padding-left: 0;
}
.site-nav li:last-of-type a {
  border-right-width: 0;
}

/* Font Awesome icons */
.page-footer .fab,
.page-footer .fas {
  color: var(--text-white);
  display: block;
  font-size: 1rem;
  margin-right: 10px;
}
.page-footer .icon-background {
  color: var(--text-black);
}
/* Mobile only */
@media screen and (max-width: 376px) {
.page-footer-info {
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
 }
 .site-nav {
   flex-wrap: nowrap;
   justify-content: left;
 }
 .page-footer .site-nav a {
   font-size: 11pt;
 }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  .page-footer-info {
    text-align: right;
    white-space: nowrap;
    width: 60%;
  }
}