/* ====== Page header ====== */

.page-header {
  background-color: var(--header-background);
  background-image: url(../img/translucent_waves.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.actions-nav {
  font-size: 17pt;
  font-weight: bold;
  text-transform: uppercase;
}

.actions-nav a,
.actions-nav a:hover,
.actions-nav a:visited,
.actions-nav a:active {
  color: var(--text-orange);
}

.primary-nav a,
.primary-nav a:hover,
.primary-nav a:visited,
.primary-nav a:active {
  color: var(--text-black);
}

.primary-nav .dropdown {
  background-color: var(--nav-background);
  font-weight: bold;
  padding-left: 0;
  z-index: 3;
}
.primary-nav .dropdown a:hover {
  background-color: var(--nav-highlight-background);
  color: var(--text-white);
}
.primary-nav .submenu {
  font-weight: normal;
  padding: 0;
  width: 535px;
}

/* 
.submenu li:hover {
  background-color: var(--nav-highlight-background);
} */

/* ====== Header dropdown menus ======== */
.page-header li {
  display: block;
  margin: 0;
  padding-left: 0;
  text-indent: 40px;
}
.page-header a:hover {
  cursor: pointer;
}
.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 5px;
  padding: 0;
  display: none;
  transition: 0.2s 1s;
}
li:hover .dropdown {
  transition-delay: 0s;
}
li:hover .dropdown,
li .dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown li {
  margin-left: 0;
  width: 100%;
}
.dropdown a {
  display: block;
}
.submenu li a {
  padding-left: 30px;
}
/* Desktop styles */
@media only screen and (min-width: 769px) {
  .primary-nav .submenu {
    width: 535px;
  }
}
