/* ====== Page header ====== */

.page-header {
  background-color: var(--header-background);
  background-image: url(../img/translucent_waves.png);
  background-position: bottom 5px;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 158px;
  padding: 0 5px;
}
.page-header img {
  max-width: 95vw;
}

/* ====== Header dropdown menus ======== */
.page-header li {
  display: block;
  margin: 0;
  padding-left: 0;
  text-indent: 40px;
}
.page-header li li {
  text-indent: 10px;
}
.page-header a:hover {
  cursor: pointer;
}

.dropdown {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1px;
  padding: 0;
  transition: all 0.5s ease;
}

.dropdown li {
  margin-left: 0;
  width: 100%;
}
.dropdown a {
  display: block;
}
.submenu li a {
  padding-left: 30px;
}
/* Mobile only */
@media only screen and (max-width: 375px) {
  .page-header li {
    padding: 0;
  }
}
/* Tablet */
@media only screen and (max-width: 768px) and (min-width: 376px) {
  #logo {
    float: left;
  }
}
/* Tablet and laptop only */
@media only screen and (min-width: 769px) {
  li:hover .dropdown,
  li .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  li:nth-of-type(4n) .dropdown,
  li:nth-of-type(5n) .dropdown {
    right: 1px;
  }
}
