/* ====== Page header ====== */

.page-header {
  background-color: var(--header-background);
  background-image: url(../img/translucent_waves.png);
  background-position: bottom 5px;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 158px;
  padding: 0 5px;
}
.page-header img {
  max-width: 95vw;
}

/* ====== Header dropdown menus ======== */
.page-header li {
  display: block;
  margin: 0;
  padding-left: 0;
  text-indent: 40px;
}
.page-header li li {
  text-indent: 15px;
}
.page-header a:hover {
  cursor: pointer;
}

/* Mobile only */
@media only screen and (max-width: 1024px) {
  .page-header li {
    padding: 0;
  }
}

