/* ====== Home page =====*/
.branch {
  font-size: 24pt;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  background-color: var(--branch-background);
  border-collapse: collapse;
  border-color: var(--home-main-border);
  border-style: solid;
  border-top-width: 10px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.branch .info {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.branch .button-holder {
  margin-bottom: 10px;
  text-align: right;
}
.branch .button,
.branch .button:visited,
.branch .button:active {
  border-color: var(--home-button-border);
  border-style: solid;
  border-width: 2px;
  line-height: 1.15rem;
  padding: 0.25rem;
  width: max-content;
}
.branch a.button:hover {
  background-color: var(--branch-highlight-background);
  text-decoration: none;
}

.branch h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 49px;
  font-weight: 900;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}

.branch h2 {
  font-style: italic;
  font-weight: normal;
  margin: 5px 0;
}

.branch p {
  margin: 0;
}

.branch a:hover {
  text-decoration: underline;
}

.gallery,
.gallery a:link,
.gallery a:visited,
.gallery a:hover,
.gallery a:active {
  color: var(--text-yellow);
}
.theatre,
.theatre a:link,
.theatre a:visited,
.theatre a:hover,
.theatre a:active {
  color: var(--text-red);
}

.film,
.film a:link,
.film a:visited,
.film a:hover,
.film a:active {
  color: var(--text-blue);
}
.learn,
.learn a:link,
.learn a:visited,
.learn a:hover,
.learn a:active {
  color: var(--text-orange);
}
.learn .info p {
  font-weight: normal;
}
.events,
.events,
.events a:link,
.events a:visited,
.events a:hover,
.events a:active {
  color: var(--text-orange);
}
.branch a.button,
.branch a.button:visited,
.branch a.button:active,
.branch a.button:hover {
  color: var(--text-yellow);
}

.home {
  border: 10px solid var(--home-main-border);
}
.home .banner img {
  margin-right: 10px;
}
/* Mobile and tablet layout */
@media only screen and (max-width: 1023px) {
  .branch img,
  .branch .button-holder {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  .branch .button-holder {
    margin-bottom: 15px;
  }
  .branch img {
    margin-top: 0;
    height: auto;
    width: 100%;
  }
}
/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Desktop and tablet */
@media only screen and (min-width: 1024px) {
  .home {
    box-sizing: border-box;
  }
  .branch {
    display: flex;
  }
  .branch h1,
  .branch h2,
  .branch p {
    line-height: 1em;
  }
  .branch .button-holder {
    bottom: 5px;
    position: absolute;
    right: 5px;
  }
  .branch .info {
    flex: 1;
    min-width: 0;
    position: relative;
  }

  .branch:nth-of-type(2n) .info {
    margin-right: 10px;
    order: 1;
  }
  .branch:nth-of-type(2n) a {
    order: 2;
  }
  .branch:nth-of-type(2n) .button-holder {
    left: 5px;
    right: auto;
  }
}
